appdirs==1.4.4
certifi==2024.8.30
chardet==5.2.0
click==8.1.7
et-xmlfile==1.1.0
importlib_metadata==8.5.0
lxml==5.3.0
numpy==2.1.1
openpyxl==3.1.5
pandas==2.2.2
pdfkit==1.0.0
pillow==10.4.0
pyee==11.1.1
pypandoc==1.13
pyppeteer==2.0.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
pyqt5-tools==5.15.9.3.3
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2024.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
reportlab==4.2.2
six==1.16.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.20
websockets==10.4
zipp==3.20.1
